form {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    row-gap: -5em;
    width: 80%;
    align-items: center;
    margin-top: -10%;
}

input[type="submit"] {
    grid-column: 2;
}

input[type="radio"] {
    display: inline-block;
    width: auto;
    padding: 0.6;
}

form {
    display: grid;
    gap: 1.5em;
}

textarea {
 width: 100%;
 padding: -5em;
}

label {
    display: block;
    font-weight: bold;
    padding: 0.5em
}