form {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    row-gap: 0.5em;
    width: 100%;
    align-items: center;
}

input[type="submit"] {
    grid-column: 2;
}

form {
    display: grid;
    gap: 1.5em;
}

textarea {
 width: 100%;
 padding: 0.6em;
}

label {
    display: block;
    font-weight: bold;
    padding: 0.5em
}