body {
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: auto;
    grid-template-areas: "header header"
        "nav nav"
        "main main"
        "aside aside"
        "footer footer";
    background-color: #C9DAEA;

}

a:hover {
    color: red;
}

main h1 {
    font-weight: bold;
}

nav {
    background-color: #00b295;
}

nav>ul>li {
    position: relative;
    width: 100%;
}

nav>ul>li:hover ul {
    opacity: 1;
}

nav ul ul li:hover {
    opacity: 1;
}

nav ul ul {
    position: absolute;
    display: block;
    background-color: #00b295;
    padding: 0;
    width: 100%;
    transform: translate(0, -100%);
    z-index: -1;
    transition: transform 1s ease-in;
    /* Note the property is transform not opacity */
}

nav>ul>li:hover ul {
    transform: translate(0, 0);
    z-index: 1;
    opacity: 1;
}

nav ul ul li:hover {
    background-color: black;
}
.circle {
    width: 24em;
    height: 24em;
    border-radius: 50%;
    animation: rotate 10s infinite linear;
    align-items: center; 
    justify-content: center;
    display: flex; 
    margin-left: 52%;
    margin-right: auto;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.circle img {
    width: 80%;
    height: auto;
    border-radius: 50%;
    align-items: center; 
    justify-content: center;
    left: 50%;
}