body {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: "header header"
        "nav nav"
        "main main"
        "aside aside"
        "footer footer";
    background-color: #C9DAEA;
    font-family: 'Montserrat', sans-serif;

}
aside {
    background-color: #C9DAEA;
    grid-area: aside;
    padding: 1em;
    margin-top: 5em; /* Adjust this value as needed */
}

a:hover {
    color: red;
}

main h1 {
    font-weight: bold;
}

nav {
    background-color: #00b295;
}

nav>ul>li {
    position: relative;
    width: 100%;
}

nav>ul>li:hover ul {
    opacity: 1;
}

nav ul ul li:hover {
    opacity: 1;
}

nav ul ul {
    position: absolute;
    display: block;
    background-color: #00b295;
    padding: 0;
    width: 100%;
    transform: translate(0, -100%);
    z-index: -1;
    transition: transform 1s ease-in;
    /* Note the property is transform not opacity */
}

nav>ul>li:hover ul {
    transform: translate(0, 0);
    z-index: 1;
    opacity: 1;
}

nav ul ul li:hover {
    background-color: black;
}
.circle {
    width: 24em;
    height: 24em;
    border-radius: 50%;
    align-items: center; 
    justify-content: center;
    display: flex; 
    margin-left: 52%;
    margin-right: auto;
    flex-direction: column; 
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.circle img {
    width: 80%;
    height: auto;
    border-radius: 50%;
    align-items: center; 
    justify-content: center;
    left: 50%;
    animation: rotate 10s infinite linear;
}
.MainText {
    max-width: 800px;
    margin: auto;
    padding: 2em;
    text-align: center;
    margin-top: 1em;
}

.welcome {
    font-size: 2em;
    font-weight: bold;
    color: #00b295;
    margin-bottom: 1.5em;
}

.tagline {
    font-size: 1.5em;
    font-weight: bold;
    color: #333;
    margin-bottom: 1.5em;
}

.bio {
    font-size: 1.2em;
    margin-bottom: 1.5em;
}

.about-me {
    font-size: 1.1em;
    margin-top: 1.5em;
}

.circle.MainText {
    text-align: center;
    margin-top: 1em;
}
footer {
    background-color: #191516;
    color: #C9DAEA;
    grid-area: footer;
    justify-content: space-between;
    align-items: center;
    padding: 5em; 
    margin-top: 15em; 
}
main {
    grid-area: main;
    padding: 1em;
    margin-top: 16em; 
    margin-right: 0%;
    margin-left: -25%;
}

input[type="submit"]:hover {
    background-color: #00807e;
}
form {
    display: grid;
    gap: 1.5em;
    margin: 2%;
    padding: 0.2em;
    width: 70%; 
    margin: auto; 
    margin-right: 5em;
    text-align: left;
    align-items: left;
    margin-top: -15em;
    margin-left: 20%;
}

input[type="text"],
input[type="email"],
input[type="submit"],
textarea {
    width: 100%;
    padding: 0.1em;
    box-sizing: border-box; 
    border: 80% solid #ccc; 
    border-radius: 5px; 
}


input[type="submit"] {
    grid-column: 2; 
    background-color: #00b295; 
    color: #fff; 
    border: none; 
    cursor: pointer; 
    transition: background-color 0.3s ease; /* Add transition effect */
}

input[type="submit"]:hover {
    background-color: #008077; 
}


label {
    display: block;
    font-weight: bold;
    padding: 0.5em;
    text-align: left; 
}


textarea {
    resize: vertical; 
}

a {
    color: #007bff;
}

a:hover {
    color: red;
}

.contact-info {
    margin-top: -25em; 
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    color: #333; 
}

.contact-info p {
    margin-bottom: 0.5em;
    font-weight: 500; 
}

.contact-info .gmail-logo {
    width: 20px;
    vertical-align: middle;
}
