header {
    background-color: black;
    color: #C9DAEA;
    padding: 1em;
    grid-area: header;
}

nav {
    background-color: #00b295;
    grid-area: nav;
}

aside {
    background-color: #C9DAEA;
    grid-area: aside;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

footer {
    background-color: #191516;
    color: #C9DAEA;
    grid-area: footer;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em;
}

nav ul li a {
    color: #03f7eb;
    text-decoration: none;
    padding: 0.6em 0.9em;
    margin: 0.3em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

main,
aside {
    padding: 1em;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    list-style: none;
    padding: 0.6em;
}

.circle {
    width: 10em;
    height: 10em;
    border-radius: 50%;
    display: flex;
    align-items: center;
    animation: rotate 10s infinite; 
    top: 50%;
    left: 50%;
    position: relative
    transform: translate(50%,50%);
}
.circle img {
    width: 100%; 
    height: auto;
    border-radius: 50%; 
    margin: auto;
    grid-area: main;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
main {
    background-color: #C9DAEA;
    color: #191516;
    grid-area: main;
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: column; 
    padding: 2em; 
    height: 80vh; 
}
