@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

header {
    background-color: #000000;
    color: #FFF;
    padding: 1em;
    grid-area: header;
    position: relative;
}
header h1 {
    font-family: 'Montserrat', sans-serif; 
    color: #FFF; 
    font-size: 1.5em; 
    text-align: center; 
    padding: 1.25em 0; 
}

nav {
    background-color: #00b295;
    grid-area: nav;
}

aside {
    background-color: #C9DAEA;
    grid-area: aside;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

footer {
    background-color: #191516;
    color: #C9DAEA;
    grid-area: footer;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em;
}

nav ul li a {
    color: #03f7eb;
    text-decoration: none;
    padding: 0.6em 0.9em;
    margin: 0.3em;
    font-family: 'Montserrat', sans-serif; 
    font-weight: bold;
}

main,
aside {
    padding: 1em;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    list-style: none;
    padding: 0.6em;
}
.container {
    max-width: 800px;
    margin: auto;
    padding: 2em;
    text-align: center;
}

.bio {
    font-size: 1.2em;
    margin-bottom: 1.5em;
}

.tagline {
    font-size: 1.5em;
    font-weight: bold;
    color: #333;
    margin-bottom: 1.5em;
}

.welcome {
    font-size: 2em;
    font-weight: bold;
    color: #00b295;
    margin-bottom: 1.5em;
}

.about-me {
    font-size: 1.1em;
    margin-top: 1.5em;
}
