@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

header {
    background-color: #000000;
    color: #FFF;
    padding: 1em;
    grid-area: header;
    position: relative;
}
header h1 {
    font-family: 'Montserrat', sans-serif; 
    color: #FFF; 
    font-size: 1.5em; 
    text-align: center; 
    padding: 1.25em 0; 
}

nav {
    background-color: #00b295;
    grid-area: nav;
}


nav ul li a {
    color: #03f7eb;
    text-decoration: none;
    padding: 0.6em 0.9em;
    margin: 0.3em;
    font-family: 'Montserrat', sans-serif; 
    font-weight: bold;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    list-style: none;
    padding: 0.6em;
}
.project {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    margin-left: 20vw;
    margin-right: 20vw;
    border: 1px solid black; 
    text-align: center; 
    column-gap: 1em;
    row-gap: 1em;
    border-radius: 0.5em;
}

.project-item {
    border: 1px solid black;
    padding: 2em;
    margin-bottom: 2em; 
    text-align: center; 
}

.project-item img {
    max-width: 100%; 
    height: auto;
    display: block;
    margin-bottom: 1em; 
}

.project-item p {
    margin-bottom: 0; 
}
