.showNav {
    height: 1em;
    width: 1em;
    display: block;
    border-top: 0.2em solid white;
    border-bottom: 0.2em solid white;
    align-items: center;
    transition: transform 0.3s ease-in; 
}

.showNav:target {
    transform: translate(0, -100%);

}

body {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto 1fr auto;
    grid-template-areas:
        "header"
        "nav"
        "main"
        "aside"
        "footer";

    background-color: #C9DAEA;
    font-family: 'Montserrat', sans-serif;
}

header {
    background-color: #191516;
    color: #C9DAEA;
    grid-area: header;
    padding: 1em;
}

nav {
    display: block;
    background-color: #00b295;
    position: fixed;
    top: 0;
    left: 50%;
    width: 50%;
    height: 80vh;
    z-index: 1;
}

nav ul {
    display: block;
    margin: 0;
    list-style: none;
}

nav ul li {
    margin-bottom: 1em;
    display: inline; 
}

nav ul li a {
    display: block;
    color: #03f7eb;
    padding: 0.6em 0.9em;
}

main {
    background-color: #C9DAEA;
    color: #191516;
    grid-area: main;
    padding: 5%;
    margin-bottom: 2em;
    margin-top: 2em;
}

aside {
    background-color: #C9DAEA;
    grid-area: aside;
    padding: 1em;
    margin-top: 5em; 
    z-index: -2; /* Ensures the aside doesn't overlap other elements */
}

.showNav::before {
    content: '';
    position: absolute;
    width: 1em;
    margin-top: 0.35em;
    height: 0.15em;
    border-top: 0.2em solid #fff;
}

#clicked .on {
    display: block;
}

#clicked .off {
    display: none;
}

#clicked:target .off {
    display: block;
}

#clicked:target .on {
    display: none;
}

#clicked:target nav {
    display: none;
}

main,
aside {
    padding: 1em;
}

nav>ul>li {
    position: relative;
    width: 100%;
}
.circle {
    width: 10em;
    height: 10em;
    margin-top: 3em;
    border-radius: 50%;
    align-items: center; 
    justify-content: center;
    display: flex; 
    margin-left: 15%;
    margin-top: 0;
    flex-direction: column; 
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.circle img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    align-items: center; 
    justify-content: center;
    left: 50%;
    right: 30%;
    animation: rotate 10s infinite linear;
}
main {
    grid-area: main;
    display: flex;
    background-color: #C9DAEA;
    color: #191516;
    padding: 20% 17%;
    height: 80vh;
    width: 90%;
}

/* code for forms */



input[type="submit"]:hover {
    background-color: #008077; 
}


label {
    display: block;
    font-weight: bold;
    padding: 0.5em;
    text-align: left; 
}



.MainText {
    max-width: 800px;
    margin: auto;
    padding: 2em;
    text-align: center;
    margin-top: 1em;
}

.welcome {
    font-size: 2em;
    font-weight: bold;
    color: #00b295;
    margin-bottom: 1.5em;
}

.tagline {
    font-size: 1.5em;
    font-weight: bold;
    color: #333;
    margin-bottom: 1.5em;
}

.bio {
    font-size: 1.2em;
    margin-bottom: 1.5em;
}

.about-me {
    font-size: 1.1em;
    margin-top: 1.5em;
}

.circle.MainText {
    text-align: center;
    margin-top: 2em;
    width: 80%;
    padding: 20% 20%;
}
footer {
    background-color: #191516;
    color: #C9DAEA;
    grid-area: footer;
    justify-content: space-between;
    align-items: center;
    padding: 3em; 
    margin-top: 5em; 
}
aside {
    background-color: #C9DAEA;
    grid-area: aside;
    padding: 1em;
    margin-top: 10em; 
}

main {
    grid-area: main;
    display: flex;
    background-color: #C9DAEA;
    color: #191516;
    padding: 20% 15%;
    height: 30vh;
    width: 80%;
    margin-top: 30em;
}
form {
    display: grid;
    gap: 2em;
    margin: 5% auto; 
    padding: 1em;
    width: 80%; 
    max-width: 300px; 
    margin-left: -20%;
    margin-top: -190%; 
}


input[type="text"],
input[type="email"],
textarea {
    width: 100%; 
    padding: 0.8em; 
    border: 2px solid #ccc;
    border-radius: 5px;
    margin-bottom: 1em; 
}


input[type="submit"] {
    width: 100%; 
    padding: 1em;
    background-color: #00b295;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #008077;
}


label {
    display: block;
    font-weight: bold;
    padding: 0.5em 0; 
    text-align: left;
}


textarea {
    width: 100%; 
    resize: vertical;
}
footer {
    background-color: #191516;
    color: #C9DAEA;
    grid-area: footer;
    justify-content: space-between;
    align-items: center;
    padding: 1em; 
    margin-top: 8em; 
}


.contact-info .gmail-logo {
    width: 15px;
    vertical-align: middle;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-content {
    flex: 1; 
}

.contact-info {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    color: #333; 
    margin-top: 60em; 
    margin-bottom: -100em; 
}
/* mobile project optimisation */

.project {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2em; 
    text-align: center;
    margin: 0 auto;
    max-width: 90%; 
    font-family: 'Montserrat', sans-serif;
    margin-top: -150%;
}

.project p {
    margin-top: 0.5em; 
    margin-bottom: 1em; 
}

.project h2 {
    color: #191516;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em; 
    margin-top: 0; 
    margin-bottom: 0.5em; 
}

.project img {
    max-width: 100%;
    height: auto;
    margin-bottom: 1em;
}
