.showNav {
    height: 1em;
    width: 1em;
    display: block;
    border-top: 0.2em solid white;
    border-bottom: 0.2em solid white;
    align-items: center;
}

body {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: 
    "header"
    "main"
    "aside"
    "footer"
    ;

    background-color: #C9DAEA;
}

header {
    background-color: #191516;
    color: #C9DAEA;
    grid-area: header;
    padding: 1em;
}
nav {
    display: block;
    background-color: #00b295;
    position: fixed;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100vh;
    padding: 1em;
}

nav ul {
    display:block;
    margin: 2em;
    list-style: none;
}

nav ul li {
    margin-bottom: 1em;
}

nav ul li a {
    display: block;
    color: #03f7eb;
    text-decoration: italic;
    padding: 0.6em 0.9em;
}

main {
    background-color: #C9DAEA;
    color: #191516;
    grid-area: main;
    padding: 1em;
}

aside {
    background-color: #C9DAEA;
    grid-area: aside;
    padding: 1em;
}

footer {
    background-color: #191516;
    color: #C9DAEA;
    grid-area: footer;
    padding: 1em;
}

.showNav::before {
    content: '';
    position: absolute;
    width: 1em;
    margin-top: 0.35em;
    height: 0.15;
    border-top: 0.2em solid #fff;
}

#clicked .on {
    display: block;
}

#clicked .off {
    display: none;
}

#clicked:target .off {
    display: block;
}

#clicked:target .on {
    display: none;
}

#clicked:target nav {
    display: none;
}